.NavLink {
  color: #fda117;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px;
}

.NavLink:hover {
  border: 2px dotted #3a7999;
  color: black;
  background: rgba(0, 0, 0, 0);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.navigation {
  display: flex;
  column-gap: 3px;
}
